<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head th:replace="~{fragments/head :: head('Pizzas')}" />

<body>
    <main class="container">
        <section class="title row">
            <div class="col-12">
                <h1 class="text-center">
                    Single pizza 
                </h1>
            </div>
        </section>
        <section class="pizza">   
            <ul th:object="${pizza}">
                <li>[[*{id}]]</li>
                <li>[[*{name}]]</li>
                <li>[[*{Description}]]</li>
                <li>[[*{price}]]</li>
            </ul>
        </section>
    </main>
</body>
</html>